/* 
    Document   : estrutura
    Created on : 13/06/2011, 09:28:20
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

/* header */

#header{
    background-image: url(../img/bg-topo.png);
    width: 100%;
    height: 153px;
    border-bottom: 1px solid #888888;
}

#header-caixa{
    margin: 0 auto;
    width: 990px;
    padding-top: 15px;
}

#header-caixa ul{
    height: 105px;
}

#header-caixa ul li{
    display: inline;
    float: left;
    margin-right: 10px;
}

.publicidade-top{
    width: 728px;
    height: 90px;
    background-color: #ccc;

}

#header-caixa #menu{
    clear: left;
    height: 22px;
    padding-top: 8px;
    border-top: 1px solid #bbb;
    width: 990px;
    margin: 0 auto;
}

#header-caixa #menu li{
    height: 22px;
}

#header-caixa #menu li a{
    height: 20px;
    padding: 5px;
    margin-right: 7px;
}

#header-caixa #menu li.espaco{
    width: 53px;
    height: 20px;
}

/* Content */
#content #colunas{
    width: 990px;
    margin: 0 auto;
    border-top: 2px solid #004c77;
    position: relative;
}

#content #colunas li{
    margin-top: 2%;
    margin-right: 6px;
    display: inline-block;
    height: 100%;
}


.destaque, .destaque-sem-img, .destaque-lista, .destaque-com-img, .publicidade-botao{
    border-bottom: 1px solid #999;
    margin-bottom: 18px;
    position: relative;
    display: block;
    clear: left;

}

/* HOME */

/* Destaque com imagem grande */

.destaque .img{
    display: block;
    background-color: #ccc;
    width: 318px;
    height: 240px;
    margin-bottom: 10px;
}
/* Destaque com imagem grande */


/* destaque com lista */
#materias-lista li{
    display: block;
    width: 300px;
}
/* destaque com lista */


/* Destaque com imagen pequena */
.destaque-com-img{
    height: 110px;
}

.destaque-com-img #materia-img li .img-pequena{
    display: inline-block;
    background-color: #ccc;
    width: 140px;
    height: 110px;

}

.destaque-com-img #materia-img li .img-pequena-2{
    display: inline-block;
    background-color: #ccc;
    width: 90px;
    height: 65px;
}

#materia-img li{
    float: left;
}

/* Destaque com imagen pequena */


/*MATERIAS*/

#largura_texto {
    margin-top: 5px !important;
    width: 652px;
    *float:left;
}

#linha-divisao {
    border-top: 1px solid #aaa;
    width: 615px;
    margin-top: 25px;
    *margin-bottom: -2px;
}

#materia img {
    margin-top: 25px;
}

.imprimir {
    margin-left: 360px !important;
}

/*-------------------------------------*/

#fundo-titulo{
    background-color: #666;
    text-align: center;
    padding: 6px 2px;
    width: 100px;
    color: #fff;
    margin-top: -5px;
    z-index: 10;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    *margin-left:-70px;
}

#faixa-listrada{
    background-image: url(../img/bg-caixa.png);
    height: 12px;
    width: 580px;
    z-index: 0;
    margin-right: -20px;  !important;
    margin-top: -11px;
}

#comentarios {
    width: 640px;
    border-bottom: 1px solid #aaa;
    padding: 0 5px 10px 5px;
}


/*-------------------------------------*/



/*publicidade botao*/
.publicidade-botao span{
    display: block;
    background-color: #ccc;
    width: 300px;
    height: 90px;
}

/* img-dupla */
#img-dupla{
    display: block;
    background-color: #ccc;
    width: 315px;
    height: 105px;

}
/* img-dupla */

/* HOME */

/* Search Box */
#search-box{
    margin-top: -20px;
    margin-top: -25px\9;
}

#search-box, x:-moz-any-link, x:default{
    margin-top: -25px;
}


#search-box li input[type=text]{
    padding: 3px 5px;
    font-size: 16px;
    width: 240px;
    height: 24px;
    border: 1px solid #ccc;
    margin-left: -7px !important;
    margin-right: -4px !important;
    top: -3px\9;

    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

#search-box li input[type=text], x:-moz-any-link, x:default{
    width: 238px;
}

.publicidade-square{
    display: block;
    background-color: #ccc;
    width: 300px;
    height: 250px;
}


.box-tracejado{
    display: block;
    position: relative;
    background-image: url(../img/bg-traco.png);
    width: 280px;

    min-height: 120px;
    padding: 25px 10px;

}


#traco{
    background-image: url(../img/bg-traco.png);
    display: block;
    width: 635px;
    height: 12px;
    position: relative;
    top: -11px;
    z-index: -400;

}



/*revista digital*/

#caixa{
    background-image: url(../img/bg-caixa.png);
    padding: 5px;
    width: 625px;
    height: 300px;
    display: block;
    margin-top: 30px;

}

#caixa-h1{
    background-color: #444;
    width: 300px;
    text-align: center;
    margin: 5px 0 0 5px;
    padding: 12px 5px 6px 5px;
    z-index: 100;

}

#caixa-branco{
    background-color: #fff;
    width: 615px;
    height: 248px;
    margin-left: 5px;
    margin-top: -10px;
    
}

#box-revista{
    padding: 20px;
}

.imprimir, .enviar, .fonte {
    *margin-top: -5px !important;
}

.compartilhar {
    *margin-top: 23px !important;
}


#compartilhar li {
    *float: left;
}

#login-social li #icons{
    margin-left: 3px !important;
        margin-rigth: 3px !important;

}

#login-social li #icons li{  
    margin-left: -5px;
    margin-bottom: -5px;
    position: relative;
    
}

#icons li {
    border: 1px solid white;
    top: -29px;
    top: -39px\9;
    left: 173px;
}




/* ---CONTATO--- */

#colunas-formulario {
    margin-bottom: 8px;
}

#colunas-formulario input[type=text]{
    border: 1px solid #666;
    padding: 4px;
    color: #888;
    font-family: arial;
    margin-bottom: 8px;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}


#colunas-formulario select {
    border: 1px solid #666;
    padding: 4px;
    color: #888;
    font-family: arial;
    margin-bottom: 8px;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}


#colunas-formulario textarea {
    border: 1px solid #666;
    padding: 4px;
    color: #888;
    font-family: arial;
    width: 340px;
    height: 130px;
    *width: 320px;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}


#colunas-formulario input[type=submit]{
    margin-top: 15px;
    background-image: url(../img/bg-button.png);
    border: 1px solid #888;
    height: 30px;
    padding: 4px;
    cursor: pointer;
    margin-bottom: 8px;
    padding: 4px 15px\9;
    margin-right: 75px\9 !important;
    *padding: 4px;
    *position:absolute;
    *top:493px;
    *margin-left:47px;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;

}

#alertBAD span:hover{
    background-color: #cf3c1c;
}

#alertBAD{
    padding: 30px 15px;
    font-family: arial;
    font-size: 14px;
    color: #000;
    line-height: 120%;
    text-align: center;
}

#colunas-formulario input[type=submit]:hover{
    background-image: url(../img/bg-button-hover.png);
}

#contato {
    margin-top: 15px;
    *margin-top: 30px;
}


#coluna-um {
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #444;
}

#telefone-vagas li {
    float: left;
    display: block;
}


/*CADASTRO*/

#cadastro input[type=submit]:hover{
    background-image: url(../img/bg-button-hover.png);

}

#cadastro .input{
    padding: 8px;
}

#cadastro input[type=submit]{
    margin-top: 15px;
    background-image: url(../img/bg-button.png);
    border: 1px solid #9d9c9c;
    height: 30px;
    padding: 5px;
    cursor: pointer;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#cadastro label {

    font-family: arial;
    font-size: 14px;
}

/* Land Page */
#land-page li{
    display: inline;
}