/* 
    Document   : tipografia
    Created on : 13/06/2011, 09:28:27
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

h1{
    font-family: arial;
    font-size: 28px;
    color: #444444;
}

h2{
    font-family: arial;
    font-size: 26px;
    color: #444444;
}

h3{
    font-family: arial;
    font-size: 22px;
    color: #444444;
}

h4{}

h5{}

p{
    font-family: arial;
    font-size: 14px;
    color: #444444;
}

b{}

a{
    font-family: arial;
    text-decoration: none;
}



/* menu */
#menu li a, #menu li{
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    color: #444444;
    text-decoration: none;
}

#menu li.segundo-menu a{
    color: #777;
}

.data{
    padding-top: 5px;
    margin-left: 55px;
}

.editoria{
    font-family: arial;
    font-size: 12px;
    color: #fff;
    padding: 3px 5px;
    text-transform: uppercase;
}

.artes-plasticas{background-color: #671e5e;}

.livros{background-color: #006059;}

.filosofia{background-color: #003173;}

.cinema{background-color: #d56100}

.musica{background-color: #b10f50}

#content #colunas li .destaque-lista #materias-lista li a{
    color: #444444;
    font-weight: bold;
    font-size: 12px;
}

/*materias*/

#nome-secao {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    color: #666666;
}

#materia h1 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 28px;
    color: #006059;
    margin-top: 25px;
}

#materia h2{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    color: #666;
    margin-top: 5px;
}

#materia h3{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 12px;
    margin-top: 20px;

}

#materia h4{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #444;
    background-color: #eee;
    width: 640px;
    height: 10px;
    padding: 5px;
}

#materia h5{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #999;
}

#materia p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #000000;
    line-height: 140%;
    margin-bottom: 10px;
    width: 648px;
}