/* 
    Document   : tipografia
    Created on : 13/06/2011, 09:28:27
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

h1{
    font-family: arial;
    font-size: 28px;
    color: #444444;
}

h2{
    font-family: arial;
    font-size: 22px;
    color: #444444;
}

h3{
    font-family: arial;
    font-size: 20px;
    color: #444444;
}

h4{
    font-family: arial;
    font-size: 18px;
    color: #444444;
}

h5{
    font-family: arial;
    font-size: 16px;
    color: #444444;
}

p{
    font-family: arial;
    font-size: 14px;
    color: #444444;
    line-height: 150%;
}

b, strong{
    font-weight: bold;
}

em{
    font-style: italic;
}

a{
    font-family: arial;
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}



/* menu */
#menu li a, #menu li{
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    color: #444444;
    text-decoration: none;
}

#menu li.segundo-menu a{
    color: #777;
}

.data{
    padding-top: 5px;
    margin-left: 55px;
}

.editoria{
    font-family: arial;
    font-size: 12px;
    color: #fff;
    padding: 3px 5px;
    text-transform: uppercase;
    z-index: 100;
}

.editoria-2{
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    padding: 8px 11px;
    text-transform: uppercase;
    z-index: 100;
}

.artes-plasticas{background-color: #671e5e;}

.livros{background-color: #006059;}

.filosofia{background-color: #003173;}

.cinema{background-color: #eb6645}

.musica{background-color: #b10f50}

.teatro-danca{background-color: #790e11}

.padrao{background-color: #626262}

.enquete{background-color: #1f9fba}

.galeria{background-color: #f0ab00;}

.destaque-cor{background-color: #38302b;}

#content #colunas li .destaque-lista #materias-lista li a{
    color: #444444;
    font-weight: bold;
    font-size: 12px;
}

/*materias*/

#nome-secao {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    color: #666666;
}

#materia h1 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 28px;
    color: #006059;
    margin-top: 20px;
}

#materia h2{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    color: #666;
    margin-top: 5px;
}

#materia h3{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 12px;
    margin-top: 20px;

}

#materia h4{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #444;
    background-color: #eee;
    width: 606px;
    height: 10px;
    padding: 5px;
}

#materia h5{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #999;
    margin-top: 10px;
}

#materia p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #000000;
    line-height: 140%;
    margin-bottom: 10px;
    width: 615px;
}


#compartilhar {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #666;
    margin-top: -30px !important;
}



/* Login, redes sociais e busca */
.faca-login{
    background-color: #f2f2f2;
    border: 1px solid #d0d0d0;
    padding: 4px 7px;
    color: #444;
    margin-top: -4px;

    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.faca-login img{
    position: relative;
    top: 11px;
    right: -10px;
}

.box-tracejado span.link{
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    color: #626262;

}

/* Comentarios */


#comentarios h5{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 1px;
}

#comentarios p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 125%;
    margin-top: 5px;
}

/*revista digital*/

#caixa-h1{
    font-family: arial;
    color: #fff;
    font-size: 15px;

}

#box-revista li p{
    font-size: 13px;
    color: #666;
    padding: 4px;
}

#box-revista li h2{
    color: #333;
    font-family: arial;
    font-size: 20px;
    margin: 4px;
}

#box-revista li a{
    padding: 9px;
    font-size: 12px;
    margin-right: 7px;
    background-image: url(../img/bg-botao.png);
    border: 1px solid #969696;
    color: #333;

    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}

#box-revista li a:hover{
    background-image: url(../img/bg-botao-hover.png);
}

#box-revista li span.caixa-alta-link{
    font-size: 16px;
}

#box-revista li a:hover{
    text-decoration: none;
}


#box-revista li a:hover{
    text-decoration: none;
}

/*CONTATO*/

#contato p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 125%;
    margin-bottom: 10px;
}

#colunas-formulario label{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #000;
    padding: 3px;
    margin-right:5px;
}

#coluna-um label{
    *position: absolute;
    *margin-top: 0;
}

#coluna-um input{
    *margin-left: 75px;
}

#coluna-dois textarea {
    *position: absolute;
    *top: 350px;
    *margin-left: -210px;
}

label{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #333;
    padding: 3px;
}

.newsletter{
    font-family: arial;
    font-size: 14px;
    color: #333;
    padding: 3px;
}


/*enquete*/

